Client/Client/Service References/DomainSpecificServiceReference/DomainSpecificService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:29968/DomainSpecificService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Shared" />
  <xs:element name="FindShortestPath">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="firstNodeId" type="xs:int" />
        <xs:element minOccurs="0" name="secondNodeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindShortestPathResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Shared" minOccurs="0" name="FindShortestPathResult" nillable="true" type="q1:ArrayOfNode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>